<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://randomacts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>randomacts.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>RandomActs</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$RandomActs</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RandomActs.Models.RAOKContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:uep0crgx15.database.windows.net,1433;Initial Catalog=RandomActsDb;Integrated Security=False;User ID=paullitwin@hotmail.com@uep0crgx15;Password={your_password_here};Connect Timeout=30;Encrypt=True" Name="Server=tcp:uep0crgx15.database.windows.net,1433;Database=RandomActsDb;User ID=paullitwin@hotmail.com@uep0crgx15;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="RandomActs.Models.RAOKContext, RandomActs" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="RandomActs.Models.RAOKContext" />
  </ItemGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RandomActs.Models.RAOKContext-Web.config Connection String">
      <ParameterValue>Server=tcp:uep0crgx15.database.windows.net,1433;Database=RandomActsDb;User ID=paullitwin@hotmail.com@uep0crgx15;Password={your_password_here};Trusted_Connection=False;Encrypt=True;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>